body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(61, 53, 63);
  font-size: 62.5%;
  font-family: 'Audiowide';
}

.grid-container {
  display: grid;
  grid-template-columns: [left-edge] 1fr [line1] 1fr [line2] 1fr [right-edge];
  grid-template-rows: [top-edge] 1fr [line1] 1fr [line2] 1fr [bottom-edge];
}

.menu {
  place-self: center;
  grid-column: line1 / line2;
  grid-row: line1 / line2;
  font-family: 'Audiowide';
  font-size: 2.5em;
  letter-spacing: .1em;
  cursor: pointer;
  user-select: none;
  transition: all .3s ease;
  animation: menu-glow 3s infinite;
  z-index: 2;
}

h1:hover {
  transform: scale(1.4);
  transform-origin: left;
  transition: .6s ease;
}

#dev {

}

#data {

}

#dad {

}

.activate {
  color: teal;
}

/*
.menu-text {
  position: relative;
  bottom: -10000px;
  grid-column: left-edge / right-edge;
  grid-row: line2 / bottom-edge;
  font-size: 2em;
  font-family: Montserrat;
  z-index: 1;
}
*/

@keyframes menu-glow {
  0% {
    text-shadow: 2px 4px 8px rgb(93, 61, 61);
  }

  50% {
    text-shadow: 1px 2px 4px rgb(153, 153, 170);
  }

  100% {
    text-shadow: 2px 4px 8px rgb(93, 61, 61);
  }
}

.waves {
  grid-column: left-edge / right-edge;
  grid-row: top-edge / bottom-edge;
  z-index: 0;
}

.wave1-container {
  height: 30vh;
}

.wave1 {
  left: 50%;
  margin-left: -200vw;
  width: 500vw;
  height: 525vw;
  border: 5vh solid rgb(238, 83, 34);
  box-shadow: 0 5px 40px rgb(238, 83, 34);
  border-radius: 50%;
  animation: wave1 21s infinite linear;
}

@keyframes wave1 {
  100% {
    transform: rotate(360deg);
  }
}

.wave2-container {
  height: 40vh;
}

.wave2 {
  left: 50%;
  margin-left: -200vw;
  width: 500vw;
  height: 520vw;
  box-shadow: 0 5px 40px rgb(238, 83, 34);
  border: 5vh solid rgb(238, 83, 34);
  border-radius: 50%;
  animation: wave2 18s infinite linear;
}

@keyframes wave2 {
  100% {
    transform: rotate(-360deg);
  }
}

.wave3-container {
  height: 30vh;
}

.wave3 {
  left: 50%;
  margin-left: -200vw;
  width: 500vw;
  height: 540vw;
  border: 5vh solid rgb(238, 83, 34);
  box-shadow: 0 5px 40px rgb(238, 83, 34);
  border-radius: 50%;
  animation: wave3 20s infinite linear;
}

@keyframes wave3 {
  100% {
    transform: rotate(360deg);
  }
}
