body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 100%;
  background-color: rgb(61, 53, 63);
}

.grid-container {
  display: grid;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  grid-template-columns: [left-edge] 1fr [left-skill] 1fr [line1] 1fr [line2] 1fr [right-skill] 1fr [right-edge];
  grid-template-rows: [top-edge] 1fr [top-skill] 1fr [line1] 1fr [line2] 1fr [bottom-skill] 1fr [bottom-edge];
}

.menu {
  display: grid;
  grid-column: line1 / line2;
  grid-row: line1 / line2;
  place-self: center;
  letter-spacing: .1em;
  font-family: 'Audiowide';
  font-size: 1.3em;
  cursor: pointer;
  user-select: none;
  animation: menu-glow 2.5s infinite;
  z-index: 10;
}

// h1:hover {
//   transform: scale(1.4);
//   transform-origin: left;
//   transition: .4s ease;
//   text-shadow: 2px 2px 2px rgb(153, 153, 170)
// }

@keyframes menu-glow {
  50% {
    text-shadow: 1px 2px 2px rgb(153, 153, 170);
  }
}

.button {
  position: relative;
}

.slide-right {
  transform: translateX(-999px);
  transition: 1.5s ease;
}

.slide-left {
  transform: translateX(999px);
  transition: 1.5s ease;
}

.fade-in {
  animation: fadeIn 1s linear forwards;
}

.fade-out {
  text-shadow: none;
  animation: fadeOut .5s linear forwards ;
}

@keyframes fadeOut {
  100% {
    color: rgba(0, 0, 0, 0);
  }
}

@keyframes fadeIn {
  100% {
    color: rgba(0, 0, 0, 1);
  }
}

/**********************
*** SKILL TREE GRID ***
**********************/

.skill-tree {
  grid-column: left-skill / right-skill;
  grid-row: top-skill / bottom-skill;
  z-index: 9;
}

svg {
	margin: auto;
	height: 70vh;
	width: 70vh;
}

text {
	opacity: 0;
	animation: text-fade 2s ease 2s forwards;
}

@keyframes text-fade {
	100% {
		opacity: 1;
	}
}

.hide-grid {

}

.draw-grid {
	stroke-dasharray: 2405;
	stroke-dashoffset: 2405;
	animation: dash 1.8s linear forwards;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

.dev-grid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
}

.data-grid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.dad-grid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

/**********************
*** WAVE BACKGROUND ***
**********************/

.waves {
  grid-column: left-edge / right-edge;
  grid-row: top-edge / bottom-edge;
  height: 100vh;
  z-index: 0;
}

.wave1-container {
  height: 30vh;
  position: relative;
}

.wave1 {
  left: 50%;
  margin-left: -200vw;
  width: 500vw;
  height: 525vw;
  border: 5vh solid rgb(238, 83, 34);
  box-shadow: 0 5px 40px rgb(238, 83, 34);
  border-radius: 50%;
  animation: wave1 21s infinite linear;
}

@keyframes wave1 {
  100% {
    transform: rotate(360deg);
  }
}

.wave2-container {
  height: 30vh;
}

.wave2 {
  left: 50%;
  margin-left: -200vw;
  width: 500vw;
  height: 520vw;
  box-shadow: 0 5px 40px rgb(238, 83, 34);
  border: 5vh solid rgb(238, 83, 34);
  border-radius: 50%;
  animation: wave2 18s infinite linear;
}

@keyframes wave2 {
  100% {
    transform: rotate(-360deg);
  }
}

.wave3-container {
  height: 40vh;
}

.wave3 {
  left: 50%;
  margin-left: -200vw;
  width: 500vw;
  height: 540vw;
  border: 5vh solid rgb(238, 83, 34);
  box-shadow: 0 5px 40px rgb(238, 83, 34);
  border-radius: 50%;
  animation: wave3 20s infinite linear;
}

@keyframes wave3 {
  100% {
    transform: rotate(360deg);
  }
}
