
.menu {
  font-size: 1.4em;
}

h1:hover {
  transform: scale(1);

}

.wave1-container {
  height: 30vh;
}

.wave1 {
  left: 50%;
  margin-left: -200vw;
  width: 500vw;
  height: 525vw;
  border: 5vh solid rgb(238, 83, 34);
  box-shadow: 0 5px 40px rgb(238, 83, 34);
  border-radius: 50%;
  animation: wave1 21s infinite linear;
}

@keyframes wave1 {
  100% {
    transform: rotate(360deg);
  }
}

.wave2-container {
  height: 40vh;
}

.wave2 {
  left: 50%;
  margin-left: -200vw;
  width: 500vw;
  height: 520vw;
  box-shadow: 0 5px 40px rgb(238, 83, 34);
  border: 5vh solid rgb(238, 83, 34);
  border-radius: 50%;
  animation: wave2 18s infinite linear;
}

@keyframes wave2 {
  100% {
    transform: rotate(-360deg);
  }
}

.wave3-container {
  height: 30vh;
}

.wave3 {
  left: 50%;
  margin-left: -200vw;
  width: 500vw;
  height: 540vw;
  border: 5vh solid rgb(238, 83, 34);
  box-shadow: 0 5px 40px rgb(238, 83, 34);
  border-radius: 50%;
  animation: wave3 20s infinite linear;
}

@keyframes wave3 {
  100% {
    transform: rotate(360deg);
  }
}
