body {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

// Wave Container
.wave-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100vw;
}


// Wave
.wave {
	animation: wave 6s ease-in-out infinite;
	width: 1vw;
	height: 35vh;
	transform-origin: bottom;

	@for $i from 1 through 200 {
		&:nth-child(#{$i}) {
			background: rgba(1, 255, 125 + $i, 1);
			animation-delay: $i * 13ms;
		}
	}
}
// Wave Animation
@keyframes wave {
	50% { transform: scaleY(1.5) }
}


// for Demo Only
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
